vmaccepteula
rootpw VMware1!

reboot

%include /tmp/esxi_ks_config

%pre --interpreter=busybox

#1 Localdisk Part. If Raid controller up to 2ea then, find localdisk naa.***
Disk=$(for d in $(localcli storage core device list | grep -o "naa\.[0-9A-Za-z]*"); do if ! localcli vsan storage list | grep -q "$d"; then echo "$d"; fi; done | sort -u | head -n 1)
echo "install --disk=$Disk --overwritevmfs" >> /tmp/esxi_ks_config

#2. Network Part. Searching vmnicX mgmt adaptor

#defaults vmnic number list
defaults_vmnic=`localcli network vswitch standard list | awk 'BEGIN {flag=0} /^vSwitch0:/{flag=1} /^vSwitch[0-9]+:/ && $0 != "vSwitch0:" && flag==1 {flag=0} flag==1 {print}' | grep -i uplinks | awk '{print $2}'`

#vmnic admin up / link up searching
vmnic_list=`localcli network nic list | awk 'tolower($4) == "up" && tolower($5) == "up" { print $1 }'`

#Set vlan-id to portgroup
localcli network vswitch standard portgroup set --portgroup-name="Management Network" --vlan-id={{ vlan_id }}

#Set vmkernel mgmt ip
localcli network ip interface ipv4 set -i vmk0 -I {{ service_ip }} -N 255.255.255.0 -t static

#remove defaults vmnic
localcli network vswitch standard uplink remove --vswitch-name=vSwitch0 --uplink-name=$defaults_vmnic

#rotation vmnicX
for nic in $vmnic_list; do

        localcli network vswitch standard uplink add --vswitch-name=vSwitch0 --uplink-name $nic
        sleep 5

        ping_counts=`vmkping -I vmk0 {{ gateway }} | grep -i "packets received" | awk -F', ' '{print $2}' | awk '{print $1}'`
        sleep 5

        if [ $ping_counts -ne 0 ]; then

                echo "network --bootproto=static --device=$nic --ip={{ service_ip }} --gateway={{ gateway }} --nameserver={{ dns_server }} --netmask=255.255.255.0 --vlanid={{ vlan_id }} --hostname={{ hostname }}.{{ dns_name }}" >> /tmp/esxi_ks_config
                exit 0

        else
                echo "Fail to $nic ping" >> /tmp/ping_failed_result.txt
                localcli network vswitch standard uplink remove --vswitch-name=vSwitch0 --uplink-name $nic
        fi
done

%firstboot --interpreter=busybox

# ESXi Intel X710 Nic driver update
# updated 2025/06/26 1.1 > 2.1
#esxcli software vib install -v http://10.50.42.234/cfg/driver-pk/i40en/vib20/i40en/INT_bootbank_i40en_2.8.4.0-1OEM.800.1.0.20613240.vib

# ESXi PERC H330 Raid ctl driver update
#esxcli software vib install -v http://10.50.42.234/cfg/driver-pk/lsi_mr3/vib20/lsi-mr3/BCM_bootbank_lsi-mr3_7.730.01.00-1OEM.800.1.0.20613240.vib

# SSH Enable
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh

# ESXi shell Enable
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell

# ESXi NTP Settings & Enable
esxcli system ntp set -e=no
esxcli system ntp set -s={{ ntp_server }}
esxcli system ntp set -e=yes

# ipv6 Disable
esxcli network ip set --ipv6-enabled=false

# Suffix remove
esxcli network ip dns search remove --domain {{ dns_name }}

# Generate ESXi Certificate
/sbin/generate-certificates

# reboot
reboot