================================================
 {{ inventory_hostname }}
 Managed by Ansible — manual changes will be lost
 Last update: {{ ansible_date_time.iso8601 }}
================================================
